body{
    background-color: whitesmoke;
}
img{
    height: 200px; 
    width: 200px;
}
.card{
    border: solid 1px lightblue;
    width: 300px; 
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0em;
    background-color: white;
}
footer{
    font-size: 4pt;
}
h3{
    font-size: 14pt;
}
header{
    font-size: 16pt;
    border-bottom: solid 1px lightblue;
}
p{
    font-size: 8pt;
}
#available{
    color: yellow;
    background-color: darkgrey;
    text-align: left;
}
#description{
    text-align: justify;
    font-style: bold;
    color: gray;
}
